*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(3.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.hero{
    
    height: 115vh;
    
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo{
    width: 50px;
    float: left;
    margin-left: -200px;
}


nav ul li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    margin-left: 90px;
    color: #fff;
}
nav ul li a{
    text-decoration: none;
    color: #ff9933d5;
    font-size: 20px;
    
}
nav ul li a:hover{
    transition: 0.2s ease-in-out;
    color: beige;
}
    

.content a{
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    border: 2px solid #ffffff;
    padding: 10px 60px;
    border-radius: 20px;
    margin-top: 10px;
}

.content a:hover{
    transition: 0.2s ease;
    color: #ff9933d5;
    
}

.content{
    text-align: center;
    height: auto;
    opacity: 80%;
    font-size: 17px;
    margin: auto;
    letter-spacing: 1.2px;
    color:  #ffffff;
    margin-top: 80px;
    position: relative;
}